<!-- header.component.html -->

<header class="header">
    <div class="logo">
        <img src="assets/logo.jpg" alt="Logo">
        <h1>Snake</h1>
    </div>
    <nav class="navbar">
        <ul class="nav-menu">
            <li class="nav-item"><a href="https://drive.google.com/file/d/13ppQaLKgdHeKegma1BmwKzr2czNO2E_E/view?usp=sharing" class="nav-link">Mon CV</a></li>
            <li class="nav-item"><a href="https://drive.google.com/file/d/1PTle-F3SeIjEYbJpBTG8TesX2ZmOicKi/view?usp=sharing" class="nav-link">Mon CV Anglais vidéo</a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/zineddine-bellaouel-80bb92229/" class="nav-link">LinkedIn</a></li>
        </ul>
    </nav>
</header>
