<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<footer class="footer">
    <div class="container">
        <div class="col-md-4">
          <h3>Contactez-moi pour toute question ou demande d'information.</h3>
        </div>
        <div class="col-md-4">
          <h3>Coordonnées</h3>
          <ul class="quick-links">
            <li><i class="fa fa-phone"></i>06 22 59 31 51</li>
            <li>zineddinebellaouel(at)gmail.com</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Suivez-moi</h3>
          <ul class="social-links">
            <li><a href="https://www.linkedin.com/in/zineddine-bellaouel-80bb92229/"><i class="fa fa-facebook"></i><img src="../../assets/logo2.png" width="30px"></a></li>
          </ul>
        </div>
    </div>
  </footer>
  