#game {
    position: relative;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    overflow: hidden;

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    
   /* #snake {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: black;
    }
    
    .food {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: red;
    }*/
    
    .game-over {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }
    
    .score {
      position: absolute;
      top: 0;
      right: 0;
    }
    
    button {
      position: absolute;
      bottom: 10px;
    }
  }
  